.container {
  width: 100%;
  height: 100%;
  background-color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
}

.opciones {
  position: absolute;
  top: 1%;
  right: 1%;
}

.opciones ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.opciones li {
  display: inline-block;
  margin: 0 1em;
}

.opciones li a {
  text-decoration: none;
  color: white;
  transition: all 400ms;
}

.opciones li a:hover {
  color: red;
}

.container img {
  height: inherit;
}

.nombre {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  background: rgba(253, 253, 253, 0.438);
}

.nombre span {
  color: red;
  font-size: 72px;
  font-weight: bolder;
}

.iniciar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.iniciar button {
  background: red;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms;
}

.iniciar button:hover,
.iniciar button:focus {
  background: white;
  color: red;
  border: 1px solid red;
}

@media (max-width: 810px) {
  .opciones li a {
    color: red;
    font-weight: bolder;
  }

  .opciones li a:hover {
    color: white;
  }
}
